In [1]:
import pandas as pd
import numpy as np

In [2]:
# lade Datensatz
df = pd.read_csv('american-election-tweets.csv', delimiter=';', 
                 names=['handle','text','is_retweet', 'original_author','time',
                        'in_reply_to_screen_name','is_quote_status','retweet_count',
                        'favorite_count','source_url','truncated'], header=None)

In [3]:
df.head()

,handle,text,is_retweet,original_author,time,in_reply_to_screen_name,is_quote_status,retweet_count,favorite_count,source_url,truncated
0,HillaryClinton,The question in this election: Who can put the...,False,NaN,2016-09-28T00:22:34,NaN,False,218,651,https://studio.twitter.com,False
1,HillaryClinton,"Last night, Donald Trump said not paying taxes...",True,timkaine,2016-09-27T23:45:00,NaN,False,2445,5308,http://twitter.com,False
2,HillaryClinton,Couldn't be more proud of @HillaryClinton. Her...,True,POTUS,2016-09-27T23:26:40,NaN,False,7834,27234,https://about.twitter.com/products/tweetdeck,False
3,HillaryClinton,"If we stand together, there's nothing we can't...",False,NaN,2016-09-27T23:08:41,NaN,False,916,2542,https://studio.twitter.com,False
4,HillaryClinton,Both candidates were asked about how they'd co...,False,NaN,2016-09-27T22:30:27,NaN,False,859,2882,https://about.twitter.com/products/tweetdeck,False

In [4]:
# entferne uninteressante Informationen aus dem Datensatz
# hier: is_retweet, original_author, is_quote_status_truncated
df_new = df.drop(['is_retweet','original_author','is_quote_status','truncated'],axis=1)
df_new.head()

,handle,text,time,in_reply_to_screen_name,retweet_count,favorite_count,source_url
0,HillaryClinton,The question in this election: Who can put the...,2016-09-28T00:22:34,NaN,218,651,https://studio.twitter.com
1,HillaryClinton,"Last night, Donald Trump said not paying taxes...",2016-09-27T23:45:00,NaN,2445,5308,http://twitter.com
2,HillaryClinton,Couldn't be more proud of @HillaryClinton. Her...,2016-09-27T23:26:40,NaN,7834,27234,https://about.twitter.com/products/tweetdeck
3,HillaryClinton,"If we stand together, there's nothing we can't...",2016-09-27T23:08:41,NaN,916,2542,https://studio.twitter.com
4,HillaryClinton,Both candidates were asked about how they'd co...,2016-09-27T22:30:27,NaN,859,2882,https://about.twitter.com/products/tweetdeck

In [5]:
# Formatiere die Zeitangaben der Tweets entsprechend des sql Datentyps timestamp - format: YYYY-MM-DD HH:MI:SS
# ersetze 'T' mit Leerzeichen
df_new['time'] = df_new['time'].str.replace('T',' ')

In [6]:
df_new.head()

,handle,text,time,in_reply_to_screen_name,retweet_count,favorite_count,source_url
0,HillaryClinton,The question in this election: Who can put the...,2016-09-28 00:22:34,NaN,218,651,https://studio.twitter.com
1,HillaryClinton,"Last night, Donald Trump said not paying taxes...",2016-09-27 23:45:00,NaN,2445,5308,http://twitter.com
2,HillaryClinton,Couldn't be more proud of @HillaryClinton. Her...,2016-09-27 23:26:40,NaN,7834,27234,https://about.twitter.com/products/tweetdeck
3,HillaryClinton,"If we stand together, there's nothing we can't...",2016-09-27 23:08:41,NaN,916,2542,https://studio.twitter.com
4,HillaryClinton,Both candidates were asked about how they'd co...,2016-09-27 22:30:27,NaN,859,2882,https://about.twitter.com/products/tweetdeck

In [8]:
# hier war mal: ersetze '%' durch den String 'percent', da Zeichen in sql einen wildcard character darstellt
#               df_new['text'] = df_new['text'].str.replace('%',' percent')
# NICHT NÖTIG, DA DURCH DIE RICHTIGE FORMATIERUNG (Mit "...string") 
# IN DER SQL-QUERY DAS % NICHT ALS WILDCARD ERKANNT WIRD

In [9]:
# ersetze Apostrophe aus Tweet-Texten durch doppelte Apostrophe, um sql-Probleme von vornherein auszuschließen
# evtl. Interferenzen zwischen sql und Hochkommata o.Ä. werden durch richtige String-Formatierung in queries verhindert
df_new['text'] = df_new['text'].str.replace("'", "''")

In [11]:
# erster Test, ob es geklappt hat
df_new.head(10)

,handle,text,time,in_reply_to_screen_name,retweet_count,favorite_count,source_url
0,HillaryClinton,The question in this election: Who can put the...,2016-09-28 00:22:34,NaN,218,651,https://studio.twitter.com
1,HillaryClinton,"Last night, Donald Trump said not paying taxes...",2016-09-27 23:45:00,NaN,2445,5308,http://twitter.com
2,HillaryClinton,Couldn''t be more proud of @HillaryClinton. He...,2016-09-27 23:26:40,NaN,7834,27234,https://about.twitter.com/products/tweetdeck
3,HillaryClinton,"If we stand together, there''s nothing we can'...",2016-09-27 23:08:41,NaN,916,2542,https://studio.twitter.com
4,HillaryClinton,Both candidates were asked about how they''d c...,2016-09-27 22:30:27,NaN,859,2882,https://about.twitter.com/products/tweetdeck
5,realDonaldTrump,Join me for a 3pm rally - tomorrow at the Mid-...,2016-09-27 22:13:24,NaN,2181,6172,http://twitter.com/download/iphone
6,HillaryClinton,This election is too important to sit out. Go ...,2016-09-27 21:35:28,NaN,1303,2849,https://about.twitter.com/products/tweetdeck
7,HillaryClinton,When Donald Trump goes low...register to vote:...,2016-09-27 21:25:31,NaN,1833,4954,https://about.twitter.com/products/tweetdeck
8,realDonaldTrump,"Once again, we will have a government of, by a...",2016-09-27 21:08:22,NaN,4132,11239,http://twitter.com/download/iphone
9,HillaryClinton,3) Has Trump offered a single proposal to redu...,2016-09-27 21:00:13,NaN,1087,2824,http://twitter.com

In [12]:
# zweiter Test, ob es geklappt hat
df_new.loc[[13]]

,handle,text,time,in_reply_to_screen_name,retweet_count,favorite_count,source_url
13,realDonaldTrump,"''CNBC, Time magazine online polls say Donald ...",2016-09-27 20:06:25,NaN,4236,10948,http://twitter.com/download/iphone

In [13]:
# überprüfe, ob alle Spalten, die keinen Null-Eintrag haben dürfen, auch wirklich keinen haben
# hier: handle,text,time,retweet_count,favorite_count,source_url
# gib alle Reihen aus, in denen eine Spalte gegen diese Anforderung widerspricht
assert any(~df_new['handle'].isnull())

In [14]:
assert any(~df_new['text'].isnull())

In [15]:
assert any(~df_new['time'].isnull())

In [16]:
assert any(~df_new['retweet_count'].isnull())

In [17]:
assert any(~df_new['favorite_count'].isnull())

In [18]:
assert any(~df_new['source_url'].isnull())

In [19]:
# will überprüfen, ob Datentypen jeder Spalte einheitlich sind
# gib Datentypen für jede Spalte aus
df_new.dtypes

handle                     object
text                       object
time                       object
in_reply_to_screen_name    object
retweet_count               int64
favorite_count              int64
source_url                 object
dtype: object

In [20]:
# check, ob jede Spalte den jeweiligen Datentyp bedient und gib einen Error aus, falls eine Spalte einen Eintrag mit 
# dem falschen Datentyp hat
# handle,text,time,in_reply_to_screen_name,source_url sind vom Datentyp object
# favorite_count,retweet_count sind vom Datentyp int64
assert df_new.handle.dtype == 'object'

In [21]:
assert df_new.retweet_count.dtype == 'int64'

In [22]:
assert df_new.text.dtype == 'object'

In [23]:
assert df_new.time.dtype == 'object'

In [24]:
assert df_new.in_reply_to_screen_name.dtype == 'object'

In [25]:
assert df_new.favorite_count.dtype == 'int64'

In [26]:
assert df_new.source_url.dtype == 'object'

In [27]:
# gib Anzahl der Objekte in dataframe aus
# 6126 Zeilen
df_new.shape

(6126, 7)

In [28]:
# entferne Duplikate: A und B seien Duplikate <=> A['handle']==B['handle'] und A['time']==B['time']
# unter der Annahme, dass nicht zwei verschiedene Tweets vom selben Account 
# zur exakt selben Zeit gepostet werden können
df_new.drop_duplicates(subset=df_new[[0,2]], keep='first', inplace=False).head(n=10)

,handle,text,time,in_reply_to_screen_name,retweet_count,favorite_count,source_url
0,HillaryClinton,The question in this election: Who can put the...,2016-09-28 00:22:34,NaN,218,651,https://studio.twitter.com
1,HillaryClinton,"Last night, Donald Trump said not paying taxes...",2016-09-27 23:45:00,NaN,2445,5308,http://twitter.com
2,HillaryClinton,Couldn''t be more proud of @HillaryClinton. He...,2016-09-27 23:26:40,NaN,7834,27234,https://about.twitter.com/products/tweetdeck
3,HillaryClinton,"If we stand together, there''s nothing we can'...",2016-09-27 23:08:41,NaN,916,2542,https://studio.twitter.com
4,HillaryClinton,Both candidates were asked about how they''d c...,2016-09-27 22:30:27,NaN,859,2882,https://about.twitter.com/products/tweetdeck
5,realDonaldTrump,Join me for a 3pm rally - tomorrow at the Mid-...,2016-09-27 22:13:24,NaN,2181,6172,http://twitter.com/download/iphone
6,HillaryClinton,This election is too important to sit out. Go ...,2016-09-27 21:35:28,NaN,1303,2849,https://about.twitter.com/products/tweetdeck
7,HillaryClinton,When Donald Trump goes low...register to vote:...,2016-09-27 21:25:31,NaN,1833,4954,https://about.twitter.com/products/tweetdeck
8,realDonaldTrump,"Once again, we will have a government of, by a...",2016-09-27 21:08:22,NaN,4132,11239,http://twitter.com/download/iphone
9,HillaryClinton,3) Has Trump offered a single proposal to redu...,2016-09-27 21:00:13,NaN,1087,2824,http://twitter.com

In [29]:
# Prüfe Zeilenanzahl nach Duplikaten-Entfernung
# Anzahl der entries unverändert, also existierten gar keine Duplikate
df_new.shape

(6126, 7)

In [30]:
# konvertiere Datentyp von time(object) in den Datentyp datetime um
# wichtig für das Laden der Daten in die Datenbank (time hat in sql den Typ timestamp)
pd.to_datetime(df_new.time)

0      2016-09-28 00:22:34
1      2016-09-27 23:45:00
2      2016-09-27 23:26:40
3      2016-09-27 23:08:41
4      2016-09-27 22:30:27
5      2016-09-27 22:13:24
6      2016-09-27 21:35:28
7      2016-09-27 21:25:31
8      2016-09-27 21:08:22
9      2016-09-27 21:00:13
10     2016-09-27 20:37:47
11     2016-09-27 20:31:14
12     2016-09-27 20:14:33
13     2016-09-27 20:06:25
14     2016-09-27 19:59:28
15     2016-09-27 19:59:04
16     2016-09-27 19:37:22
17     2016-09-27 19:31:01
18     2016-09-27 18:45:39
19     2016-09-27 18:12:06
20     2016-09-27 18:10:07
21     2016-09-27 18:06:28
22     2016-09-27 18:05:27
23     2016-09-27 18:02:54
24     2016-09-27 17:58:15
25     2016-09-27 17:55:26
26     2016-09-27 17:52:47
27     2016-09-27 17:47:36
28     2016-09-27 17:44:07
29     2016-09-27 17:40:05
               ...
6096   2016-01-07 11:28:51
6097   2016-01-07 11:15:54
6098   2016-01-07 11:06:43
6099   2016-01-06 23:15:24
6100   2016-01-06 21:09:42
6101   2016-01-06 20:22:41
6102   2016-01-06 19:22:27
6103   2016-01-06 19:22:16
6104   2016-01-06 15:01:58
6105   2016-01-06 14:25:28
6106   2016-01-06 03:59:46
6107   2016-01-06 03:55:38
6108   2016-01-06 03:50:46
6109   2016-01-06 03:49:12
6110   2016-01-06 03:46:34
6111   2016-01-06 03:45:56
6112   2016-01-06 03:43:50
6113   2016-01-06 02:37:30
6114   2016-01-06 02:33:40
6115   2016-01-06 02:31:17
6116   2016-01-06 00:28:31
6117   2016-01-05 18:05:19
6118   2016-01-05 17:53:33
6119   2016-01-05 17:42:47
6120   2016-01-05 16:53:31
6121   2016-01-05 03:47:14
6122   2016-01-05 03:44:17
6123   2016-01-05 03:42:10
6124   2016-01-05 03:39:11
6125   2016-01-05 03:36:53
Name: time, dtype: datetime64[ns]

In [31]:
df_new.time = pd.to_datetime(df_new.time)

In [32]:
# passe Spaltennamen an die Attribut-Namen im Schema der Datenbank an
df_new.columns = ['handle','inhalt','zeit','in_reply_to','retweet_count','favorite_count','source_url']
df_new.head()

,handle,inhalt,zeit,in_reply_to,retweet_count,favorite_count,source_url
0,HillaryClinton,The question in this election: Who can put the...,2016-09-28 00:22:34,NaN,218,651,https://studio.twitter.com
1,HillaryClinton,"Last night, Donald Trump said not paying taxes...",2016-09-27 23:45:00,NaN,2445,5308,http://twitter.com
2,HillaryClinton,Couldn''t be more proud of @HillaryClinton. He...,2016-09-27 23:26:40,NaN,7834,27234,https://about.twitter.com/products/tweetdeck
3,HillaryClinton,"If we stand together, there''s nothing we can'...",2016-09-27 23:08:41,NaN,916,2542,https://studio.twitter.com
4,HillaryClinton,Both candidates were asked about how they''d c...,2016-09-27 22:30:27,NaN,859,2882,https://about.twitter.com/products/tweetdeck

In [33]:
# ersetze die Null-Einträge bei in_reply_to durch einen leeren String
df_new.in_reply_to.fillna('')

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19      HillaryClinton
20      HillaryClinton
21      HillaryClinton
22
23      HillaryClinton
24      HillaryClinton
25      HillaryClinton
26      HillaryClinton
27
28      HillaryClinton
29      HillaryClinton
             ...
6096
6097
6098
6099
6100
6101
6102
6103
6104
6105
6106
6107
6108
6109
6110
6111
6112
6113
6114
6115
6116
6117
6118
6119
6120
6121
6122
6123
6124
6125
Name: in_reply_to, dtype: object

In [34]:
# speichere gereinigten Datentyp
df_new.to_csv('cleansed_dataframe.csv')

In [35]:
from sqlalchemy import create_engine

In [36]:
# Lade Datensatz in die Datenbank election über die erstellte connection:
engine = create_engine('postgres://postgres:postgres@localhost:5432/election')

In [37]:
df_new.to_sql(name='tweet',con=engine ,index_label='t_id', schema='e_schema',if_exists='append')