In [1]:
# Befehle, die tables speichern oder Daten in die DB importieren wurden auskommentiert
import pandas as pd
import numpy as np

In [2]:
# lade Datensatz
df = pd.read_csv('american-election-tweets.csv', delimiter=';', 
                 names=['handle','text','is_retweet', 'original_author','time',
                        'in_reply_to_screen_name','is_quote_status','retweet_count',
                        'favorite_count','source_url','truncated'], header=None)

In [3]:
df.head()

,handle,text,is_retweet,original_author,time,in_reply_to_screen_name,is_quote_status,retweet_count,favorite_count,source_url,truncated
0,HillaryClinton,The question in this election: Who can put the...,False,NaN,2016-09-28T00:22:34,NaN,False,218,651,https://studio.twitter.com,False
1,HillaryClinton,"Last night, Donald Trump said not paying taxes...",True,timkaine,2016-09-27T23:45:00,NaN,False,2445,5308,http://twitter.com,False
2,HillaryClinton,Couldn't be more proud of @HillaryClinton. Her...,True,POTUS,2016-09-27T23:26:40,NaN,False,7834,27234,https://about.twitter.com/products/tweetdeck,False
3,HillaryClinton,"If we stand together, there's nothing we can't...",False,NaN,2016-09-27T23:08:41,NaN,False,916,2542,https://studio.twitter.com,False
4,HillaryClinton,Both candidates were asked about how they'd co...,False,NaN,2016-09-27T22:30:27,NaN,False,859,2882,https://about.twitter.com/products/tweetdeck,False

In [4]:
# entferne uninteressante Informationen aus dem Datensatz
# hier: is_retweet, original_author, is_quote_status_truncated
df_new = df.drop(['is_retweet','original_author','is_quote_status','truncated'],axis=1)
df_new.head()

,handle,text,time,in_reply_to_screen_name,retweet_count,favorite_count,source_url
0,HillaryClinton,The question in this election: Who can put the...,2016-09-28T00:22:34,NaN,218,651,https://studio.twitter.com
1,HillaryClinton,"Last night, Donald Trump said not paying taxes...",2016-09-27T23:45:00,NaN,2445,5308,http://twitter.com
2,HillaryClinton,Couldn't be more proud of @HillaryClinton. Her...,2016-09-27T23:26:40,NaN,7834,27234,https://about.twitter.com/products/tweetdeck
3,HillaryClinton,"If we stand together, there's nothing we can't...",2016-09-27T23:08:41,NaN,916,2542,https://studio.twitter.com
4,HillaryClinton,Both candidates were asked about how they'd co...,2016-09-27T22:30:27,NaN,859,2882,https://about.twitter.com/products/tweetdeck

In [5]:
# Formatiere die Zeitangaben der Tweets entsprechend des sql Datentyps timestamp - format: YYYY-MM-DD HH:MI:SS
# ersetze 'T' mit Leerzeichen
df_new['time'] = df_new['time'].str.replace('T',' ')

In [6]:
df_new.head()

,handle,text,time,in_reply_to_screen_name,retweet_count,favorite_count,source_url
0,HillaryClinton,The question in this election: Who can put the...,2016-09-28 00:22:34,NaN,218,651,https://studio.twitter.com
1,HillaryClinton,"Last night, Donald Trump said not paying taxes...",2016-09-27 23:45:00,NaN,2445,5308,http://twitter.com
2,HillaryClinton,Couldn't be more proud of @HillaryClinton. Her...,2016-09-27 23:26:40,NaN,7834,27234,https://about.twitter.com/products/tweetdeck
3,HillaryClinton,"If we stand together, there's nothing we can't...",2016-09-27 23:08:41,NaN,916,2542,https://studio.twitter.com
4,HillaryClinton,Both candidates were asked about how they'd co...,2016-09-27 22:30:27,NaN,859,2882,https://about.twitter.com/products/tweetdeck

In [7]:
# hier war mal: ersetze '%' durch den String 'percent', da Zeichen in sql einen wildcard character darstellt
#               df_new['text'] = df_new['text'].str.replace('%',' percent')
# NICHT NÖTIG, DA DURCH DIE RICHTIGE FORMATIERUNG (Mit "...string") 
# IN DER SQL-QUERY DAS % NICHT ALS WILDCARD ERKANNT WIRD

In [8]:
# ersetze Apostrophe aus Tweet-Texten durch doppelte Apostrophe, um sql-Probleme von vornherein auszuschließen
# evtl. Interferenzen zwischen sql und Hochkommata o.Ä. werden durch richtige String-Formatierung in queries verhindert
df_new['text'] = df_new['text'].str.replace("'", "''")

In [9]:
# erster Test, ob es geklappt hat
df_new.head(10)

,handle,text,time,in_reply_to_screen_name,retweet_count,favorite_count,source_url
0,HillaryClinton,The question in this election: Who can put the...,2016-09-28 00:22:34,NaN,218,651,https://studio.twitter.com
1,HillaryClinton,"Last night, Donald Trump said not paying taxes...",2016-09-27 23:45:00,NaN,2445,5308,http://twitter.com
2,HillaryClinton,Couldn''t be more proud of @HillaryClinton. He...,2016-09-27 23:26:40,NaN,7834,27234,https://about.twitter.com/products/tweetdeck
3,HillaryClinton,"If we stand together, there''s nothing we can'...",2016-09-27 23:08:41,NaN,916,2542,https://studio.twitter.com
4,HillaryClinton,Both candidates were asked about how they''d c...,2016-09-27 22:30:27,NaN,859,2882,https://about.twitter.com/products/tweetdeck
5,realDonaldTrump,Join me for a 3pm rally - tomorrow at the Mid-...,2016-09-27 22:13:24,NaN,2181,6172,http://twitter.com/download/iphone
6,HillaryClinton,This election is too important to sit out. Go ...,2016-09-27 21:35:28,NaN,1303,2849,https://about.twitter.com/products/tweetdeck
7,HillaryClinton,When Donald Trump goes low...register to vote:...,2016-09-27 21:25:31,NaN,1833,4954,https://about.twitter.com/products/tweetdeck
8,realDonaldTrump,"Once again, we will have a government of, by a...",2016-09-27 21:08:22,NaN,4132,11239,http://twitter.com/download/iphone
9,HillaryClinton,3) Has Trump offered a single proposal to redu...,2016-09-27 21:00:13,NaN,1087,2824,http://twitter.com

In [10]:
# zweiter Test, ob es geklappt hat
df_new.loc[[13]]

,handle,text,time,in_reply_to_screen_name,retweet_count,favorite_count,source_url
13,realDonaldTrump,"''CNBC, Time magazine online polls say Donald ...",2016-09-27 20:06:25,NaN,4236,10948,http://twitter.com/download/iphone

In [11]:
# überprüfe, ob alle Spalten, die keinen Null-Eintrag haben dürfen, auch wirklich keinen haben
# hier: handle,text,time,retweet_count,favorite_count,source_url
# gib alle Reihen aus, in denen eine Spalte gegen diese Anforderung widerspricht
assert any(~df_new['handle'].isnull())

In [12]:
assert any(~df_new['text'].isnull())

In [13]:
assert any(~df_new['time'].isnull())

In [14]:
assert any(~df_new['retweet_count'].isnull())

In [15]:
assert any(~df_new['favorite_count'].isnull())

In [16]:
assert any(~df_new['source_url'].isnull())

In [17]:
# will überprüfen, ob Datentypen jeder Spalte einheitlich sind
# gib Datentypen für jede Spalte aus
df_new.dtypes

handle                     object
text                       object
time                       object
in_reply_to_screen_name    object
retweet_count               int64
favorite_count              int64
source_url                 object
dtype: object

In [18]:
# check, ob jede Spalte den jeweiligen Datentyp bedient und gib einen Error aus, falls eine Spalte einen Eintrag mit 
# dem falschen Datentyp hat
# handle,text,time,in_reply_to_screen_name,source_url sind vom Datentyp object
# favorite_count,retweet_count sind vom Datentyp int64
assert df_new.handle.dtype == 'object'

In [19]:
assert df_new.retweet_count.dtype == 'int64'

In [20]:
assert df_new.text.dtype == 'object'

In [21]:
assert df_new.time.dtype == 'object'

In [22]:
assert df_new.in_reply_to_screen_name.dtype == 'object'

In [23]:
assert df_new.favorite_count.dtype == 'int64'

In [24]:
assert df_new.source_url.dtype == 'object'

In [25]:
# gib Anzahl der Objekte in dataframe aus
# 6126 Zeilen
df_new.shape

(6126, 7)

In [26]:
# entferne Duplikate: A und B seien Duplikate <=> A['handle']==B['handle'] und A['time']==B['time']
# unter der Annahme, dass nicht zwei verschiedene Tweets vom selben Account 
# zur exakt selben Zeit gepostet werden können
df_new.drop_duplicates(subset=df_new[[0,2]], keep='first', inplace=False).head(n=10)

,handle,text,time,in_reply_to_screen_name,retweet_count,favorite_count,source_url
0,HillaryClinton,The question in this election: Who can put the...,2016-09-28 00:22:34,NaN,218,651,https://studio.twitter.com
1,HillaryClinton,"Last night, Donald Trump said not paying taxes...",2016-09-27 23:45:00,NaN,2445,5308,http://twitter.com
2,HillaryClinton,Couldn''t be more proud of @HillaryClinton. He...,2016-09-27 23:26:40,NaN,7834,27234,https://about.twitter.com/products/tweetdeck
3,HillaryClinton,"If we stand together, there''s nothing we can'...",2016-09-27 23:08:41,NaN,916,2542,https://studio.twitter.com
4,HillaryClinton,Both candidates were asked about how they''d c...,2016-09-27 22:30:27,NaN,859,2882,https://about.twitter.com/products/tweetdeck
5,realDonaldTrump,Join me for a 3pm rally - tomorrow at the Mid-...,2016-09-27 22:13:24,NaN,2181,6172,http://twitter.com/download/iphone
6,HillaryClinton,This election is too important to sit out. Go ...,2016-09-27 21:35:28,NaN,1303,2849,https://about.twitter.com/products/tweetdeck
7,HillaryClinton,When Donald Trump goes low...register to vote:...,2016-09-27 21:25:31,NaN,1833,4954,https://about.twitter.com/products/tweetdeck
8,realDonaldTrump,"Once again, we will have a government of, by a...",2016-09-27 21:08:22,NaN,4132,11239,http://twitter.com/download/iphone
9,HillaryClinton,3) Has Trump offered a single proposal to redu...,2016-09-27 21:00:13,NaN,1087,2824,http://twitter.com

In [27]:
# Prüfe Zeilenanzahl nach Duplikaten-Entfernung
# Anzahl der entries unverändert, also existierten gar keine Duplikate
df_new.shape

(6126, 7)

In [28]:
# konvertiere Datentyp von time(object) in den Datentyp datetime um
# wichtig für das Laden der Daten in die Datenbank (time hat in sql den Typ timestamp)
pd.to_datetime(df_new.time)

0      2016-09-28 00:22:34
1      2016-09-27 23:45:00
2      2016-09-27 23:26:40
3      2016-09-27 23:08:41
4      2016-09-27 22:30:27
5      2016-09-27 22:13:24
6      2016-09-27 21:35:28
7      2016-09-27 21:25:31
8      2016-09-27 21:08:22
9      2016-09-27 21:00:13
10     2016-09-27 20:37:47
11     2016-09-27 20:31:14
12     2016-09-27 20:14:33
13     2016-09-27 20:06:25
14     2016-09-27 19:59:28
15     2016-09-27 19:59:04
16     2016-09-27 19:37:22
17     2016-09-27 19:31:01
18     2016-09-27 18:45:39
19     2016-09-27 18:12:06
20     2016-09-27 18:10:07
21     2016-09-27 18:06:28
22     2016-09-27 18:05:27
23     2016-09-27 18:02:54
24     2016-09-27 17:58:15
25     2016-09-27 17:55:26
26     2016-09-27 17:52:47
27     2016-09-27 17:47:36
28     2016-09-27 17:44:07
29     2016-09-27 17:40:05
               ...
6096   2016-01-07 11:28:51
6097   2016-01-07 11:15:54
6098   2016-01-07 11:06:43
6099   2016-01-06 23:15:24
6100   2016-01-06 21:09:42
6101   2016-01-06 20:22:41
6102   2016-01-06 19:22:27
6103   2016-01-06 19:22:16
6104   2016-01-06 15:01:58
6105   2016-01-06 14:25:28
6106   2016-01-06 03:59:46
6107   2016-01-06 03:55:38
6108   2016-01-06 03:50:46
6109   2016-01-06 03:49:12
6110   2016-01-06 03:46:34
6111   2016-01-06 03:45:56
6112   2016-01-06 03:43:50
6113   2016-01-06 02:37:30
6114   2016-01-06 02:33:40
6115   2016-01-06 02:31:17
6116   2016-01-06 00:28:31
6117   2016-01-05 18:05:19
6118   2016-01-05 17:53:33
6119   2016-01-05 17:42:47
6120   2016-01-05 16:53:31
6121   2016-01-05 03:47:14
6122   2016-01-05 03:44:17
6123   2016-01-05 03:42:10
6124   2016-01-05 03:39:11
6125   2016-01-05 03:36:53
Name: time, dtype: datetime64[ns]

In [29]:
df_new.time = pd.to_datetime(df_new.time)

In [30]:
# passe Spaltennamen an die Attribut-Namen im Schema der Datenbank an
df_new.columns = ['handle','inhalt','zeit','in_reply_to','retweet_count','favorite_count','source_url']
df_new.head()

,handle,inhalt,zeit,in_reply_to,retweet_count,favorite_count,source_url
0,HillaryClinton,The question in this election: Who can put the...,2016-09-28 00:22:34,NaN,218,651,https://studio.twitter.com
1,HillaryClinton,"Last night, Donald Trump said not paying taxes...",2016-09-27 23:45:00,NaN,2445,5308,http://twitter.com
2,HillaryClinton,Couldn''t be more proud of @HillaryClinton. He...,2016-09-27 23:26:40,NaN,7834,27234,https://about.twitter.com/products/tweetdeck
3,HillaryClinton,"If we stand together, there''s nothing we can'...",2016-09-27 23:08:41,NaN,916,2542,https://studio.twitter.com
4,HillaryClinton,Both candidates were asked about how they''d c...,2016-09-27 22:30:27,NaN,859,2882,https://about.twitter.com/products/tweetdeck

In [31]:
# ersetze die Null-Einträge bei in_reply_to durch einen leeren String
df_new.in_reply_to.fillna('')

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19      HillaryClinton
20      HillaryClinton
21      HillaryClinton
22
23      HillaryClinton
24      HillaryClinton
25      HillaryClinton
26      HillaryClinton
27
28      HillaryClinton
29      HillaryClinton
             ...
6096
6097
6098
6099
6100
6101
6102
6103
6104
6105
6106
6107
6108
6109
6110
6111
6112
6113
6114
6115
6116
6117
6118
6119
6120
6121
6122
6123
6124
6125
Name: in_reply_to, dtype: object

In [32]:
# speichere gereinigten Datentyp
#df_new.to_csv('cleansed_dataframe.csv')

In [33]:
#from sqlalchemy import create_engine

In [34]:
# Lade Datensatz in die Datenbank election über die erstellte connection:
#engine = create_engine('postgres://postgres:postgres@localhost:5432/election')

In [35]:
#df_new.to_sql(name='tweet',con=engine ,index_label='t_id', schema='e_schema',if_exists='append')

In [36]:
# erstelle neuen dataframe hash_tag mit 2 columns name,abs_hauf
# (h_id wird beim importieren d. Daten durch den Index gestellt)
hash_tag = pd.DataFrame(columns=['name','abs_hauf'])

In [37]:
# behalte nur die rows, in denen der Tweet ein Rautezeichen hat
df_help = df_new[df_new['inhalt'].str.contains("#")]
hash_tag['name'] = df_help['inhalt']
hash_tag

                                                   name abs_hauf
6     This election is too important to sit out. Go ...      NaN
11    On National #VoterRegistrationDay, make sure y...      NaN
13    ''CNBC, Time magazine online polls say Donald ...      NaN
15    Great afternoon in Little Havana with Hispanic...      NaN
16    In the last 24 hrs. we have raised over $13M f...      NaN
18    It''s #NationalVoterRegistrationDay. Celebrate...      NaN
19    "I love this country.\nI�m proud of this count...      NaN
20    We don�t want to turn against each other.\nWe ...      NaN
29    "You can go to https://t.co/tTgeqxNqYm to make...      NaN
30    Join Hillary live in NC for her first rally si...      NaN
31    So. Everything you''re feeling after #Debates2...      NaN
33    Thank you for your endorsement, @GovernorSunun...      NaN
34    Hillary was the winner of the first presidenti...      NaN
35    Register and vote for Democrats like @HillaryC...      NaN
38    Today is #NationalVoterRegistrationDay - I was...      NaN
39    When you have a really, really good night. #Sh...      NaN
40    Such a great honor. Final debate polls are in ...      NaN
41    "Register. Vote. Go out and get engaged!� �@Jo...      NaN
44    One moment last night that proved�again�that H...      NaN
46    "Anyone who complains about microphone problem...      NaN
47    Thank you! #TrumpWon #MAGA\nhttps://t.co/a5rr1...      NaN
51    The #1 trend on Twitter right now is #TrumpWon...      NaN
55    "I have a winning temperament." �Donald Trump ...      NaN
58    Thank you! Four new #DebateNight polls with th...      NaN
59    .@DRUDGE_REPORT''s First Presidential Debate P...      NaN
60    Thank you! CNBC #DebateNight poll with over 40...      NaN
61    TIME #DebateNight poll - over 800,000 votes. T...      NaN
63    Tonight, @HillaryClinton proved she is ready t...      NaN
65    43 days left. Let�s go win this thing: https:/...      NaN
66    Thank you Governor @TerryBranstad!\n#AmericaFi...      NaN
...                                                 ...      ...
5983  Great new numbers. Thank you!\n#MakeAmericaGre...      NaN
5997  Jusr watched  #HarveyPitt on @TeamCavuto - he ...      NaN
5999  Top searched candidate by state, as seen in th...      NaN
6002  WSJ/NBC Poll: Donald Trump Widens His Lead in ...      NaN
6005  "@CLewandowski_: Massive crowd in Pensacola, F...      NaN
6010  .@TheBrodyFile: "Trump''s appeal to evangelica...      NaN
6014  .@EricTrump- unbelievable job on #FoxNews with...      NaN
6015     THANK YOU! #VoteTrump\nhttps://t.co/y7pnMqCs7j      NaN
6016  THANK YOU, IOWA! Highly respected @OANN @Gravi...      NaN
6018     Thank you! #VoteTrump\nhttps://t.co/g7eeySMUdl      NaN
6019  My nomination would increase voter turnout. #V...      NaN
6022  Thank you for your support last night, Iowa! #...      NaN
6027  The #SOTU speech is really boring, slow, letha...      NaN
6028  The Iran deal is terrible. Why didn''t we get ...      NaN
6029  New CBS poll. #Trump2016\nhttps://t.co/sFPRHHeLbd      NaN
6030  Another new Iowa poll just released. Thank you...      NaN
6033      THANK YOU! #Trump2016 https://t.co/QmDcCKppEu      NaN
6036  "@CLewandowski_: .@stuartpstevens --failed "st...      NaN
6042  Will be on @FallonTonight with @JimmyFallon on...      NaN
6044  New Iowa poll. Thank you!\n#MakeAmericaGreatAg...      NaN
6047  Just arrived in New Hampshire. Thank you to al...      NaN
6050  Congratulations to my friend @TheSlyStallone o...      NaN
6051  Thank you to our law enforcement officers! #LE...      NaN
6071  Constitutional law expert  #Laurence Tribe of ...      NaN
6076  #FoxNews Poll - THANK YOU!\n#MakeAmericaGreatA...      NaN
6083  "@LiberatedCit: @JebBush Key State Florida Pol...      NaN
6111  "@dantegtmeyer: # ISIS Reportedly Murders Spie...      NaN
6115  "@pearl_brendan: @dphilbs if @realDonaldTrump ...      NaN
6123  "@ghosthunter_lol: Iowa key endorsement for @r...      NaN
6125  "@SalRiccobono: @realDonaldTrump @troyconway D...      NaN

[1269 rows x 2 columns]

In [38]:
# Index stellt später Hashtag_ID => zwei Hashtags in einem Tweet müssen verschiedene IDs haben, deshalb einen 
# neuen fortlaufenden Index erstellen
# Überschreibe den Index
hash_tag.reset_index(drop=True)

                                                   name abs_hauf
0     This election is too important to sit out. Go ...      NaN
1     On National #VoterRegistrationDay, make sure y...      NaN
2     ''CNBC, Time magazine online polls say Donald ...      NaN
3     Great afternoon in Little Havana with Hispanic...      NaN
4     In the last 24 hrs. we have raised over $13M f...      NaN
5     It''s #NationalVoterRegistrationDay. Celebrate...      NaN
6     "I love this country.\nI�m proud of this count...      NaN
7     We don�t want to turn against each other.\nWe ...      NaN
8     "You can go to https://t.co/tTgeqxNqYm to make...      NaN
9     Join Hillary live in NC for her first rally si...      NaN
10    So. Everything you''re feeling after #Debates2...      NaN
11    Thank you for your endorsement, @GovernorSunun...      NaN
12    Hillary was the winner of the first presidenti...      NaN
13    Register and vote for Democrats like @HillaryC...      NaN
14    Today is #NationalVoterRegistrationDay - I was...      NaN
15    When you have a really, really good night. #Sh...      NaN
16    Such a great honor. Final debate polls are in ...      NaN
17    "Register. Vote. Go out and get engaged!� �@Jo...      NaN
18    One moment last night that proved�again�that H...      NaN
19    "Anyone who complains about microphone problem...      NaN
20    Thank you! #TrumpWon #MAGA\nhttps://t.co/a5rr1...      NaN
21    The #1 trend on Twitter right now is #TrumpWon...      NaN
22    "I have a winning temperament." �Donald Trump ...      NaN
23    Thank you! Four new #DebateNight polls with th...      NaN
24    .@DRUDGE_REPORT''s First Presidential Debate P...      NaN
25    Thank you! CNBC #DebateNight poll with over 40...      NaN
26    TIME #DebateNight poll - over 800,000 votes. T...      NaN
27    Tonight, @HillaryClinton proved she is ready t...      NaN
28    43 days left. Let�s go win this thing: https:/...      NaN
29    Thank you Governor @TerryBranstad!\n#AmericaFi...      NaN
...                                                 ...      ...
1239  Great new numbers. Thank you!\n#MakeAmericaGre...      NaN
1240  Jusr watched  #HarveyPitt on @TeamCavuto - he ...      NaN
1241  Top searched candidate by state, as seen in th...      NaN
1242  WSJ/NBC Poll: Donald Trump Widens His Lead in ...      NaN
1243  "@CLewandowski_: Massive crowd in Pensacola, F...      NaN
1244  .@TheBrodyFile: "Trump''s appeal to evangelica...      NaN
1245  .@EricTrump- unbelievable job on #FoxNews with...      NaN
1246     THANK YOU! #VoteTrump\nhttps://t.co/y7pnMqCs7j      NaN
1247  THANK YOU, IOWA! Highly respected @OANN @Gravi...      NaN
1248     Thank you! #VoteTrump\nhttps://t.co/g7eeySMUdl      NaN
1249  My nomination would increase voter turnout. #V...      NaN
1250  Thank you for your support last night, Iowa! #...      NaN
1251  The #SOTU speech is really boring, slow, letha...      NaN
1252  The Iran deal is terrible. Why didn''t we get ...      NaN
1253  New CBS poll. #Trump2016\nhttps://t.co/sFPRHHeLbd      NaN
1254  Another new Iowa poll just released. Thank you...      NaN
1255      THANK YOU! #Trump2016 https://t.co/QmDcCKppEu      NaN
1256  "@CLewandowski_: .@stuartpstevens --failed "st...      NaN
1257  Will be on @FallonTonight with @JimmyFallon on...      NaN
1258  New Iowa poll. Thank you!\n#MakeAmericaGreatAg...      NaN
1259  Just arrived in New Hampshire. Thank you to al...      NaN
1260  Congratulations to my friend @TheSlyStallone o...      NaN
1261  Thank you to our law enforcement officers! #LE...      NaN
1262  Constitutional law expert  #Laurence Tribe of ...      NaN
1263  #FoxNews Poll - THANK YOU!\n#MakeAmericaGreatA...      NaN
1264  "@LiberatedCit: @JebBush Key State Florida Pol...      NaN
1265  "@dantegtmeyer: # ISIS Reportedly Murders Spie...      NaN
1266  "@pearl_brendan: @dphilbs if @realDonaldTrump ...      NaN
1267  "@ghosthunter_lol: Iowa key endorsement for @r...      NaN
1268  "@SalRiccobono: @realDonaldTrump @troyconway D...      NaN

[1269 rows x 2 columns]

In [39]:
import re

In [40]:
# finde alle Hashtags mit den folgenden Eigenschaften:
# String beginnt direkt nach einem Rautezeichen und enthält NUR Groß-/Kleinbuchstaben und Zahlen,
# keine Sonderzeichen und kein Leerzeichen
# das Rautezeichen selbst soll nicht gespeichert werden
pat = re.compile(r"#([a-zA-Z0-9]+)")

In [41]:
# gib gleich tags aus und zeige leere Liste in letzter Zeile
tags = []
# speichere das Ergebnis für jeden Zell-Eintrag in einer Liste, da ein Tweet mehrere Hashtags haben kann
for i in hash_tag['name']:
    tags += [pat.findall(i)]

In [42]:
# erstelle ein leeres Set und fülle es mit allen Hashtags aus der Liste tags
# sets enthalten keine Duplikate
set_tags = set()
for l in tags:
    for element in l:
        set_tags.add(element)

In [43]:
# Gib Menge der eindeutigen Hashtags aus
len(set_tags)

429

In [44]:
# erstelle neuen data frame und fülle name-column mit den eindeutigen Hashtags
df_tags = pd.DataFrame(columns=['name','abs_hauf'])
df_tags['name'] = list(set_tags)

In [45]:
df_tags

                     name abs_hauf
0                RNCInCLE      NaN
1          HillaryClinton      NaN
2            DivoDeJuarez      NaN
3                 NewYork      NaN
4               Obamacare      NaN
5          CreatorsAskHRC      NaN
6          StopCommonCore      NaN
7                    FAIL      NaN
8            DemsInPhilly      NaN
9              DisarmHate      NaN
10                Indiana      NaN
11            ElectionDay      NaN
12              Statehood      NaN
13               RNCINCLE      NaN
14             Utah4Trump      NaN
15           SallyRideDay      NaN
16              GOPDebate      NaN
17                    UAW      NaN
18               GOPinCLE      NaN
19               veterans      NaN
20              WomanCard      NaN
21          SaveElephants      NaN
22            debatenight      NaN
23              VoteTrump      NaN
24                     GO      NaN
25           NBCNewsForum      NaN
26                  Enjoy      NaN
27                 iVoted      NaN
28            GoodTrouble      NaN
29               CA4Trump      NaN
..                    ...      ...
399   OpioidAwarenessWeek      NaN
400          KansasCaucus      NaN
401  MothersoftheMovement      NaN
402                   USA      NaN
403         TrumpYourself      NaN
404                   MSM      NaN
405          HoustonFlood      NaN
406           Debates2016      NaN
407                 WCS16      NaN
408                  DACA      NaN
409                Mormon      NaN
410                  Utah      NaN
411               LAflood      NaN
412         HaileyPuckett      NaN
413         RosanellEaton      NaN
414           VoteTrumpWI      NaN
415            RobotRubio      NaN
416         KentuckyDerby      NaN
417               Carrier      NaN
418                   CNN      NaN
419                    AZ      NaN
420               Rio2016      NaN
421          SmallBizWeek      NaN
422             MDPrimary      NaN
423          EstoyConElla      NaN
424     fixdemocracyfirst      NaN
425             MikePence      NaN
426             OHHillYes      NaN
427  VoterRegistrationDay      NaN
428      StrongerTogether      NaN

[429 rows x 2 columns]

In [46]:
# definiere Zählfunktion für absolute Häufigkeiten
def count_occurrences(hashtag):
    count = 0
    for l in tags:
        if hashtag in l:
            count += 1
    return count

In [47]:
# zähle für jeden Hashtag im set die absolute Häufigkeit in der Liste tags (nicht-eindeutigen Hashtag-Liste)
df_tags.abs_hauf = df_tags.name.apply(count_occurrences)

In [48]:
df_tags

                     name  abs_hauf
0                RNCInCLE         3
1          HillaryClinton         1
2            DivoDeJuarez         1
3                 NewYork         1
4               Obamacare         4
5          CreatorsAskHRC         2
6          StopCommonCore         1
7                    FAIL         1
8            DemsInPhilly        51
9              DisarmHate         3
10                Indiana         1
11            ElectionDay         1
12              Statehood         1
13               RNCINCLE         1
14             Utah4Trump         1
15           SallyRideDay         1
16              GOPDebate        20
17                    UAW         1
18               GOPinCLE         1
19               veterans         1
20              WomanCard         7
21          SaveElephants         1
22            debatenight        19
23              VoteTrump        60
24                     GO         1
25           NBCNewsForum        12
26                  Enjoy         1
27                 iVoted         1
28            GoodTrouble         1
29               CA4Trump         1
..                    ...       ...
399   OpioidAwarenessWeek         1
400          KansasCaucus         1
401  MothersoftheMovement         1
402                   USA         1
403         TrumpYourself         4
404                   MSM         1
405          HoustonFlood         1
406           Debates2016        14
407                 WCS16         1
408                  DACA         1
409                Mormon         1
410                  Utah         2
411               LAflood         1
412         HaileyPuckett         1
413         RosanellEaton         1
414           VoteTrumpWI         1
415            RobotRubio         1
416         KentuckyDerby         1
417               Carrier         1
418                   CNN         1
419                    AZ         1
420               Rio2016         1
421          SmallBizWeek         1
422             MDPrimary         1
423          EstoyConElla         2
424     fixdemocracyfirst         1
425             MikePence         1
426             OHHillYes         1
427  VoterRegistrationDay         1
428      StrongerTogether         7

[429 rows x 2 columns]

In [49]:
#df_tags.to_csv('hashtag_dataframe.csv')

In [50]:
#from sqlalchemy import create_engine
#engine2 = create_engine('postgres://postgres:postgres@localhost:5432/election')

In [51]:
#df_tags.to_sql(name='hashtag',con=engine2 ,index_label='h_id', schema='e_schema',if_exists='append')

In [52]:
# erstelle data frame für enthaelt-table (e_schema) => Zieltabelle
df_contains = pd.DataFrame(columns=['f_t_id','f_h_id'])

In [53]:
# erstelle dataframe hilfe2 mit den tweet-IDs und der jeweiligen Liste von Hashtags
hilfe = df_new[df_new['inhalt'].str.contains("#")]

In [54]:
hilfe2 = hilfe.drop(['handle','zeit','in_reply_to','retweet_count','favorite_count','source_url'],axis=1)

In [55]:
hilfe2['inhalt'] = tags

In [56]:
# im Tweet mit der ID 6125 wollte Trump einen Hashtag zum Thema 'Make America Great again' posten,
# hat diesen aber falsch getippt (# (Leerzeichen) MAKE...), sodass dieser von Twitter nicht als Hashtag registriert
# wurde. In der hilfe2-Tabelle steht daher im entsprechenden Eintrag nur eine leere Liste
hilfe2

                                                 inhalt
6                        [NationalVoterRegistrationDay]
11        [VoterRegistrationDay, MakeAmericaGreatAgain]
13                                               [MAGA]
15                                          [ImWithYou]
16                                               [MAGA]
18                       [NationalVoterRegistrationDay]
19                                     [LoveTrumpsHate]
20                                   [StrongerTogether]
29                       [NationalVoterRegistrationDay]
30                       [NationalVoterRegistrationDay]
31          [Debates2016, NationalVoterRegistrationDay]
33                                               [MAGA]
34                                             [SheWon]
35                                        [iRegistered]
38                       [NationalVoterRegistrationDay]
39                                             [SheWon]
40                      [AmericaFirst, MAGA, ImWithYou]
41                       [NationalVoterRegistrationDay]
44                                             [SheWon]
46                                             [SheWon]
47                                     [TrumpWon, MAGA]
51                                        [1, TrumpWon]
55                                             [SheWon]
58                                        [DebateNight]
59                                               [MAGA]
60               [DebateNight, AmericaFirst, ImWithYou]
61                    [DebateNight, AmericaFirst, MAGA]
63                                        [debatenight]
65                                        [DebateNight]
66                          [AmericaFirst, Debates2016]
...                                                 ...
5983                 [MakeAmericaGreatAgain, Trump2016]
5997                                       [HarveyPitt]
5999                                        [GOPDebate]
6002                                        [Trump2016]
6005                                        [VoteTrump]
6010                                        [Trump2016]
6014                               [FoxNews, Trump2016]
6015                                        [VoteTrump]
6016                            [VoteTrump, IowaCaucus]
6018                                        [VoteTrump]
6019      [VoteTrump, MakeAmericaGreatAgain, Trump2016]
6022  [VoteTrump, Trump2016, IACaucus, FITN, IAPolit...
6027                                             [SOTU]
6028                                             [SOTU]
6029                                        [Trump2016]
6030                                   [IACaucus, FITN]
6033                                        [Trump2016]
6036                                        [TeamTrump]
6042                                        [Trump2016]
6044                 [MakeAmericaGreatAgain, Trump2016]
6047                 [MakeAmericaGreatAgain, Trump2016]
6050                                      [GoldenGlobe]
6051                                  [LESM, Trump2016]
6071                                         [Laurence]
6076        [FoxNews, MakeAmericaGreatAgain, Trump2016]
6083                                      [Rubio, Bush]
6111                                 [DavidCameron, WH]
6115                                  [Trump4President]
6123                                        [Trump2016]
6125                                                 []

[1269 rows x 1 columns]

In [57]:
# lösche Reihe mit leerem Hashtag
hilfe2.drop(hilfe2.index[len(hilfe2)-1])

                                                 inhalt
6                        [NationalVoterRegistrationDay]
11        [VoterRegistrationDay, MakeAmericaGreatAgain]
13                                               [MAGA]
15                                          [ImWithYou]
16                                               [MAGA]
18                       [NationalVoterRegistrationDay]
19                                     [LoveTrumpsHate]
20                                   [StrongerTogether]
29                       [NationalVoterRegistrationDay]
30                       [NationalVoterRegistrationDay]
31          [Debates2016, NationalVoterRegistrationDay]
33                                               [MAGA]
34                                             [SheWon]
35                                        [iRegistered]
38                       [NationalVoterRegistrationDay]
39                                             [SheWon]
40                      [AmericaFirst, MAGA, ImWithYou]
41                       [NationalVoterRegistrationDay]
44                                             [SheWon]
46                                             [SheWon]
47                                     [TrumpWon, MAGA]
51                                        [1, TrumpWon]
55                                             [SheWon]
58                                        [DebateNight]
59                                               [MAGA]
60               [DebateNight, AmericaFirst, ImWithYou]
61                    [DebateNight, AmericaFirst, MAGA]
63                                        [debatenight]
65                                        [DebateNight]
66                          [AmericaFirst, Debates2016]
...                                                 ...
5973                                        [Trump2016]
5983                 [MakeAmericaGreatAgain, Trump2016]
5997                                       [HarveyPitt]
5999                                        [GOPDebate]
6002                                        [Trump2016]
6005                                        [VoteTrump]
6010                                        [Trump2016]
6014                               [FoxNews, Trump2016]
6015                                        [VoteTrump]
6016                            [VoteTrump, IowaCaucus]
6018                                        [VoteTrump]
6019      [VoteTrump, MakeAmericaGreatAgain, Trump2016]
6022  [VoteTrump, Trump2016, IACaucus, FITN, IAPolit...
6027                                             [SOTU]
6028                                             [SOTU]
6029                                        [Trump2016]
6030                                   [IACaucus, FITN]
6033                                        [Trump2016]
6036                                        [TeamTrump]
6042                                        [Trump2016]
6044                 [MakeAmericaGreatAgain, Trump2016]
6047                 [MakeAmericaGreatAgain, Trump2016]
6050                                      [GoldenGlobe]
6051                                  [LESM, Trump2016]
6071                                         [Laurence]
6076        [FoxNews, MakeAmericaGreatAgain, Trump2016]
6083                                      [Rubio, Bush]
6111                                 [DavidCameron, WH]
6115                                  [Trump4President]
6123                                        [Trump2016]

[1268 rows x 1 columns]

In [58]:
# füge für jeden Hashtag eines Tweets die Tweet-ID in die Liste indexe ein 
indexe = []
for idx, x in hilfe2['inhalt'].iteritems():
    for k in x:
        indexe.append(idx)

In [59]:
# füge für jeden Hashtag in einem Tweet die entsprechende Hashtag-ID aus df_tags in die Liste indices
# indices ist Liste von Listen, da Hashtags in hilfe2['inhalt'] ebenfalls als Listen in einer Liste gespeichert sind
indices = []
for l in hilfe2['inhalt']:
    for m in l:
        indices.append(df_tags[df_tags['name'] == m].index.tolist())

In [60]:
# speichere Hashtag-IDs als Liste von ints in der entsprechenden Spalte der Zieltabelle
df_contains['f_h_id'] = [lis[0] for lis in indices]

In [61]:
# speichere Liste mit Tweet-IDs in der entsprechenden Spalte der Zieltabelle
df_contains['f_t_id'] = indexe

In [62]:
df_contains

      f_t_id  f_h_id
0          6     137
1         11     427
2         11     122
3         13      53
4         15     363
5         16      53
6         18     137
7         19     253
8         20     428
9         29     137
10        30     137
11        31     406
12        31     137
13        33      53
14        34      74
15        35     344
16        38     137
17        39      74
18        40     330
19        40      53
20        40     363
21        41     137
22        44      74
23        46      74
24        47      81
25        47      53
26        51     104
27        51      81
28        55      74
29        58     299
...      ...     ...
1757    6022      23
1758    6022     288
1759    6022      56
1760    6022     239
1761    6022     376
1762    6027     160
1763    6028     160
1764    6029     288
1765    6030      56
1766    6030     239
1767    6033     288
1768    6036     387
1769    6042     288
1770    6044     122
1771    6044     288
1772    6047     122
1773    6047     288
1774    6050      51
1775    6051     123
1776    6051     288
1777    6071     121
1778    6076     347
1779    6076     122
1780    6076     288
1781    6083     314
1782    6083      90
1783    6111     331
1784    6111     222
1785    6115     326
1786    6123     288

[1787 rows x 2 columns]

In [63]:
#df_contains.to_csv('enthaelt_dataframe.csv')

In [64]:
#from sqlalchemy import create_engine
#engine3 = create_engine('postgres://postgres:postgres@localhost:5432/election')

In [65]:
# die Daten aus df_contains können nicht in die Datenbank importiert werden, da im Tweet mit der ID
# 4969 zweimal der Hashtag #Trump vorkommt
# Lösung: füge eine ID als primary Key zum table hinzu, sodass Tupel nicht mehr identisch
#df_contains.to_sql(name='enthaelt',con=engine3 ,index_label='c_id',schema='e_schema',if_exists='append')

In [66]:
# erstelle data frame, welches später in DB importiert wird
df_paarweise = pd.DataFrame(columns=['f_h_id1','f_h_id2','p_hauf'])

In [67]:
# definiere Hilfsfunktion, die prüft, ob zwei Hashtags X und Y bereits in der einen oder anderen Reihenfolge ((X,Y),(Y,X))
# paarweise auftreten => wenn True, gib den entsprechenden index aus, sonst return None
def tupel_check(a,b):
    for i in range(len(f_h_id1)):
        if f_h_id1[i]==a and f_h_id2[i]==b:
            return i
    return None

In [68]:
# erstelle leere Listen, die später den Spalten von df_paarweise entsprechen sollen
f_h_id1 = []
f_h_id2 = []
p_hauf = []
# iteriere durch die Hashtag-Liste jedes Tweets
# wenn Tweet mehr als einen Hashtag enthält => prüfe für jedes Hashtag-Paar das bisherige paarweise Auftreten
# wenn Paar noch nicht aufgetreten, füge es in die Listen f_h_id1 und f_h_id2 ein 
# erhöhe den Counter jeweils entsprechend 
for idx,x in hilfe2['inhalt'].iteritems():
    if len(x) >= 2:
        i=0
        while i<len(x):
            j=i+1
            while j<len(x):
                id1 = df_tags[df_tags['name'] == x[i]].index.tolist()
                id2 = df_tags[df_tags['name'] == x[j]].index.tolist()
                if tupel_check(id1[0],id2[0])is not None:
                    index = tupel_check(id1,id2)
                    p_hauf[index] +=1
                elif tupel_check(id2[0],id1[0])is not None:
                    index = tupel_check(id2,id1)
                    p_hauf[index] +=1
                else:
                    f_h_id1.append(id1[0])
                    f_h_id2.append(id2[0])
                    p_hauf.append(1)
                j += 1
            i +=1

In [69]:
# lade Listen in data frame
df_paarweise['f_h_id1'] = f_h_id1
df_paarweise['f_h_id2'] = f_h_id2
df_paarweise['p_hauf']  = p_hauf

In [70]:
df_paarweise

     f_h_id1  f_h_id2  p_hauf
0        427      122       1
1        406      137       1
2        330       53       5
3        330      363      12
4         53      363       5
5         81       53       1
6        104       81       1
7        299      330       2
8        299      363       1
9        299       53       1
10       330      406       1
11       406       53       3
12       241      406       1
13       241       22       1
14       406       22       1
15       382      299       1
16       312      406       1
17       299      174       1
18       297      143       1
19       297      406       1
20       143      406       1
21       350       53       3
22       391       97       1
23       391      358       1
24        97      358       1
25       330      122       2
26       207       31       1
27       207      359       1
28       207      174       1
29        31      359       1
..       ...      ...     ...
326       34      148       1
327       34      136       1
328       34       96       1
329      148      136       1
330      148       96       1
331      136       96       1
332      197      122       1
333      197      152       1
334      288      276       1
335       61      219       1
336       61      191       1
337       61      188       1
338      219      191       1
339      219      188       1
340      191      188       1
341       61       47       1
342      188      153       1
343      288      265       1
344      122      265       1
345       70      301       1
346      347      288       2
347       23      274       1
348       23      376       1
349      288      376       1
350       56      376       1
351      239      376       1
352      123      288       1
353      347      122       1
354      314       90       1
355      331      222       1

[356 rows x 3 columns]

In [71]:
#from sqlalchemy import create_engine
#engine4 = create_engine('postgres://postgres:postgres@localhost:5432/election')

In [72]:
# speichere table
#df_paarweise.to_csv('paarweise_dataframe.csv')

In [73]:
# importiere table in die DB
#df_paarweise.to_sql(name='paarweise',con=engine4,index=False,schema='e_schema',if_exists='append')